/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, h2, h4, h5, a, ul, li, div, form, p, input, button {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;

   font: inherit;
   font-family: 'Roboto', sans-serif;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   display: inherit;

   box-sizing: inherit;

   background: transparent;
 }

 ul {
  list-style: none;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  /*gets rid of  styling on these*/
}

button,
input[type="submit"] {
  cursor: pointer;
  /*shows hand when over button*/
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}


/*Session Form*/
body {
  background: #FF4E50; /* fallback for old browsers */
  background-color: #fc7279;
  background-image: linear-gradient(to top right,#fc7279 10%, #ff7b9c 65%, #ffc019 125%);
}

.session-form {
  width: 400px;
  height: 450px;
  margin: 80px auto;
  margin-bottom: 10px;
  position: relative;
  display: block;
  color: #898E95;
  border: 1px;
  border-radius: 2px;
  padding: 50px;
  background-color: white;
}

.or {
  display: flex;
  margin-bottom: 20px;
  font-size: 24px;
  margin-left: 5px;
  margin-right: 5px;
  color: #B9BCC0;
}

.or p {
  position: relative;
  bottom: 3px;
  margin-left: 7px;
  margin-right: 7px;

  text-align: justify;
}

.or > hr {
  width: 38%;
  flex-grow: 1;
  font-size: 100%;
  font-weight: 0px;
  height: 0%;
}

.session-demo-button {
  bottom: 3px;
  margin-left: 37%;
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: center;
}

.session-title {
  text-align: center;
  color: black;
  font-size: 42px;
  font-weight: normal;
  vertical-align: center;
  margin-bottom: 22px;
}

.session-input {
  width: 94%;
  color: black;
  border-top: 1px solid #C0B1C7;
  border: 1px solid #b2b2b2;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: all 0.30s ease-in-out;
  background: white;
  color: #b2b2b2;
  margin-bottom: 27px;
  margin-top: 5px;
}


.errors {
  font-size: 14px;
  background-color: #FEEDED;
  text-align: center;
  border-radius: 3px;
  clear: both;
  color: #49505B;
  line-height: 1.25;
  padding: 15px;
  text-align: center;
}

.session-label {
  font-size: 12px;
  font-weight: lighter;
}

.session-footer {
  float: right;
  margin-right: 420px;
  display: block;
  font-size: 14px;
  color: white;
  background-color:transparent;
  margin-bottom: 50px;
}

/*Header*/
.home-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  background-color: #ffffff;
  border-color: #EFF0F1;
  color: #898e95;
  font-size: 12px;
  font-weight: normal;
}

.header-user-dropdown {
  cursor: pointer;
}

.home-header p {
  margin-right: 5px;
  padding: 12px;
}

.home-header p:hover {
  color: #1AAFD0;
  font-weight: normal;
}


.header-user-dropdown:hover {
  color: '#1aafd0';
  cursor: pointer;
}

.action-dropdown-button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: linear-gradient(to top right, #fc7279 10%, #ff7b9c 65%, #ffc019 125%);
}

/*Sidebar and header*/

.sidebar-header {
  float: left;
  width: 100%;
}

/*Sidebar*/

.sidebar {
  background-color: white;
  float: left;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-right: 1px solid;
  background-color: #ffffff;
  border-color: #EFF0F1;
  color: #898e95;
  font-size: 12px;
  font-weight: normal;
  height: 100%;
}

/*Tasks*/

.tasks {
  width: 400px;
  height: 600px;
  padding-top: 100px;
  margin-left: 200px;
  /*margin: 80px auto;*/
  /*background-color: red;*/
  /*color: blue;*/
}
