.comment-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #F8F8F9;
  border-top: 1px solid;
  border-color: #D3D3D3;
  max-height: 442px;
  min-height: 70px;
}

.comment-form-avatar {
}

.comment-form-input {
  background: white;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 75%;
}

.comment-button {
  margin-top: 10%;
  margin-left: 2px;
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  color: #00c5e4;
  text-decoration: none;
  border: 2px solid #00c5e4;
  padding: 6px;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px #0ff;
  transition: all 0.2s;
  background-color: white;
  height: 20px;
}

.comment-button:hover {
  border-color: #00c5e4;
  color: #00c5e4;
  box-shadow: 0px 0px 0px 3px #00c5e4;
}

.comment {
  margin-top: 10px;
  display: block;
  height: 100px;
  width: 240px;
}

.comment-title {
  width: 150px;
}

.comment-date {
  margin-left: 12.5px;
  color: #898E95;
  font-weight: lighter;
  font-size: 12px;
  width: 50px;

}

.comment-title-and-body {
  padding-top: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 240px;
}

.comment-body {
  font-size: 12px;
  padding-bottom: 10px;
  margin-left: 5px;
}

.comment-title-body-avatar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;;
  margin-left: 20px;
}

.comment-list {
  margin-left: 42px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  overflow: scroll;
}

.comment-avatar {
  width: 25px;
}
