/*Sign Up Home*/


.signup-home{
  background: #ff6d92 radial-gradient(circle at center,#f5b200 0,#fc636b 30%,#ff6d92 70%);
  background-image: radial-gradient(circle at center,#f5b200 0,#fc636b 30%,#ff6d92 70%);
}

.signup-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid;
  background-color: white;
  height: 60px;
}

.signup-header-left {
  margin-top: 16px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bolder;
}

.signup-home-right {
  /*display: block;
  float: right;*/
}

.message {
  width: 600px;
  height: 550px;
  margin: 60px auto;
  margin-bottom: 10px;
  position: relative;
  display: block;
  border: 1px;
  border-radius: 2px;
  padding: 50px;
  color: white;
}

.message-title {
  vertical-align: center;
  text-align: center;
  font-size: 65px;
  line-height: 60px;
  max-width: 600px;
}

.message-subtitle {
  margin-top: 20px;
  text-align: center;
  font-size: 1.375em;
}

.signup-form-modal {
  display: flex;
  justify-content: center;
}

.signup-form {
  width: 400px;
  height: 450px;
  margin: 80px auto;
  margin-bottom: 10px;
  position: relative;
  display: block;
  color: #898E95;
  border: 1px;
  border-radius: 5px;
  padding: 50px;
  background-color: white;
}

.signup-input {
  width: 94%;
  color: black;
  border-top: 1px solid #C0B1C7;
  border: 1px solid #b2b2b2;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: all 0.30s ease-in-out;
  background: white;
  color: #b2b2b2;
  margin-bottom: 25px;
  margin-top: 5px;
}

.signup-form-button {
  position: absolute;
  left: 1000px;
  font-size: 100px;
}

.signup-title {
  text-align: center;
  color: black;
  font-size: 42px;
  font-weight: normal;
  vertical-align: center;
  margin-bottom: 10px;
}
