.tasks {
  background-color: #F8F8F9;
  background-image: linear-gradient(to bottom,#F8F8F9, #EFF0F1);
  height: 100%;
  display: flex;
  justify-content: space-around;;
  align-items: center;
  /*width: 100%;*/
  -webkit-transition: width 2s; /* Safari 3.1 to 6.0 */
  transition: width 2s;
}

.task-list {
  height: 96%;
  width: 65%;
  min-width: 600px;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #EFF0F1;
  background-color: white;
  margin-top: 2%;
  margin-left: 25px;
  /*margin-right: 10px;*/
  display: flex;
  flex-direction: column;
  transition: all .5s;
}

.task-list-top {
  display: flex;
  justify-content: space-between;
  height: 64px;
  width: 87.5%;
  margin-left: 20px;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 25px;
  /*margin-left: 10px;*/
}

.task-list-top-right {
  float: right;
  padding-right: 20px;
}

.task-list-top-left {
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  color: #00c5e4;
  text-decoration: none;
  border: 1px solid #00c5e4;
  padding: 6px;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px #0ff;
  transition: all 0.2s;
}
.task-list-top-left:hover {
  border-color: #00c5e4;
  color: #00c5e4;
  box-shadow: 0px 0px 0px 3px #00c5e4;
}

.task-list-list {
  display: flex;
  flex-direction: column;
  height: 598px;
  width: 90%;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 10px;
  margin-left: 20px;
  overflow: scroll;
}

.task-list-item {
  min-height: 24px;
  border-bottom: 1px solid;
  border-color: #d3d3d3;
  width: 92%;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all .2s;
}

.selected-task-list-item {
  border-bottom: 1px solid;
  border-color: #75cdef;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 96%;
  height: 26px;
}

.task-list-item:after {
  padding: 10px;
}

/*Selected list item?*/

.completed-task-list-item {
  min-height: 24px;
}
/*
.task-list-check {
  border-color: #fcbdc0;
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
  min-width: 5px;
  vertical-align: center;
  text-align: center;
}*/

.task-list-check {
  display:inline-block;
  background-color: #898E95;
  min-width: 22px;
  min-height:22px;
  background: white;
  border-radius:50%;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border: 1px solid;
  border-color: #898E95;
  color: #898E95;
}

.task-list-check:before{
  content:"";
  position: absolute;
  min-width:3px;
  min-height:9px;
  background-color: #898E95;
  left:11px;
  top:6px;
}

.task-list-check:after {
  content:"";
  color: inherit;
  position: absolute;
  min-width:3px;
  min-height:3px;
  background-color: #898E95;
  left:8px;
  top:12px;
}

.task-list-check:hover:after {
  background-color: #3BF7D1;
}

.task-list-check:hover:before{
  background-color: #3BF7D1;
}

.task-list-check:hover {
  border-color: #3BF7D1;
  color: #9DFBE8;
  box-shadow: 0px 0px 0px 2px #3BF7D1;
}

.completed-task-list-check {
  display:inline-block;
  background-color: #b3fcd1;
  min-width: 22px;
  min-height:22px;
  background: #b3fcd1;
  border-radius:50%;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border: 1px solid;
  border-color: #b3fcd1;
}

.completed-task-list-check:before{
  content:"";
  position: absolute;
  min-width:3px;
  min-height:9px;
  background-color: white;
  left:11px;
  top:6px;
}

.completed-task-list-check:after {
  content:"";
  position: absolute;
  min-width:3px;
  min-height:3px;
  background-color: white;
  left:8px;
  top:12px;
}

.completed-task-list-item {
  border-bottom: 1px solid;
  border-color: #d3d3d3;
  color: #B9BCC0;
  width: 92%;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all .2s;
}

.task-list-item-title {
  padding-left: 10px;
  font-size: 14px;
  color: #1B2432;
  width: 100%;
}
